$nav_footer:#352324;
$circle_read:#dac37f;
$fondo_1:#e6e5b3;
$fondo_2:#f4f4f4;
$fondo_3:#e43d3c;
$text_1:#858d7e;
$text_2:#d7b377;
$text_3:#4E3B3C;
$background_circle_rrss:#bcb989;
$circle_rrss:#e78057;
